@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<div class="main-inner">
    <div class="content">
        <div class="document-title">
            <h1>About OptingZ</h1>
            <ul class="breadcrumb">
                <li><a href="#">OptingZ</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div><!-- /.document-title -->
        <div class="container">
            @*<h2>@ViewBag.Title OptingZ</h2>*@
            <h3>There're always options available for anything you look for. Why not search for all available alternatives and Optingz for one suits you most!!</h3>
        </div>
    </div>
</div>
