@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<div class="main-inner">
    <div class="content">
        <div class="document-title">
            <h1>Contact OptingZ</h1>
            <ul class="breadcrumb">
                <li><a href="#">OptingZ</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div><!-- /.document-title -->
        <div class="container">
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
</div>
