@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OptingZ</h1>
    <p class="lead">There're always options available for anything you look for. Why not search for all available alternatives and Optingz for one suits you most!!</p>
    <p><a href="http://www.optingz.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
  
</div>