@model IEnumerable<OptingZ.Models.ProductMaster>

@{
    ViewBag.Title = "";

}

<div class="main-inner">
    <div class="content">
        <div class="mt-150">
            <div class="hero-image">
                <div class="hero-image-inner" style="background-image: url('Content/assets/img/tmp/slider-large-3.jpg');">
                    <div class="container">
                        <div class="hero-image-content" style="left:25%">
                            <h1>OptingZ</h1>
                            <p>
                                Create your own directory website by using OptingZ template <br> incorporating
                                all features of modern directory website.
                            </p>
                            <a href="listing-row.html" class="btn btn-primary btn-lg">View Listings</a>
                            <a href="listing-submit.html" class="btn btn-secondary btn-lg">Submit</a>
                        </div>
                        <!-- /.hero-image-content -->
                        <div class="hero-image-form-wrapper" style="right:0px; float:right; top:35%">
                                <div class="col-sm-4 col-sm-offset-8 col-lg-4 col-lg-offset-6">
                                    <form method="get" action="?">
                                        <h2>Start Searching</h2>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search for event, hotel, restaurant, job ... ">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary btn-block" type="button">Search</button>
                                            </span>
                                        </div><!-- /.input-group -->
                                    </form>
                                </div>
                                <!-- /.col-* -->
                        </div>
                        <!-- /.hero-image-form-wrapper -->
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.hero-image-inner -->
            </div>
            <!-- /.hero-image -->
        </div>
        <div class="container">
            <div class="page-header">
                <h1>Most Recent Places &amp; Events</h1>
                <p>
                    List of most recent interesting places and events in our directory submitted <br>by our users.
                    Check whats going on in the city now.
                </p>
            </div>
            <!-- /.page-header -->
            <div class="cards-simple-wrapper">
                <div class="row">


                    <div class="col-sm-6 col-md-3">
                        <div class="card-simple" data-background-image="Content/assets/img/tmp/product-2.jpg">
                            <div class="card-simple-background">
                                <div class="card-simple-content">
                                    <h2><a href="listing-detail.html">Tasty Brazil Coffee</a></h2>
                                    <div class="card-simple-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <!-- /.card-rating -->
                                    <div class="card-simple-actions">
                                        <a href="#" class="fa fa-bookmark-o"></a>
                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                        <a href="#" class="fa fa-heart-o"></a>
                                    </div>
                                    <!-- /.card-simple-actions -->
                                </div>
                                <!-- /.card-simple-content -->
                                <div class="card-simple-label">Coffee</div>
                            </div>
                            <!-- /.card-simple-background -->
                        </div>
                        <!-- /.card-simple -->
                    </div>
                    <!-- /.col-* -->

                    <div class="col-sm-6 col-md-3">
                        <div class="card-simple" data-background-image="Content/assets/img/tmp/product-3.jpg">
                            <div class="card-simple-background">
                                <div class="card-simple-content">
                                    <h2><a href="listing-detail.html">Healthy Breakfast</a></h2>
                                    <div class="card-simple-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <!-- /.card-rating -->
                                    <div class="card-simple-actions">
                                        <a href="#" class="fa fa-bookmark-o"></a>
                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                        <a href="#" class="fa fa-heart-o"></a>
                                    </div>
                                    <!-- /.card-simple-actions -->
                                </div>
                                <!-- /.card-simple-content -->
                                <div class="card-simple-label">Food</div>
                                <div class="card-simple-price">$12 / person</div>
                            </div>
                            <!-- /.card-simple-background -->
                        </div>
                        <!-- /.card-simple -->
                    </div>
                    <!-- /.col-* -->

                    <div class="col-sm-6 col-md-3">
                        <div class="card-simple" data-background-image="Content/assets/img/tmp/product-4.jpg">
                            <div class="card-simple-background">
                                <div class="card-simple-content">
                                    <h2><a href="listing-detail.html">Coffee &amp; Newspaper</a></h2>
                                    <div class="card-simple-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <!-- /.card-rating -->
                                    <div class="card-simple-actions">
                                        <a href="#" class="fa fa-bookmark-o"></a>
                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                        <a href="#" class="fa fa-heart-o"></a>
                                    </div>
                                    <!-- /.card-simple-actions -->
                                </div>
                                <!-- /.card-simple-content -->
                                <div class="card-simple-label">Restaurant</div>
                            </div>
                            <!-- /.card-simple-background -->
                        </div>
                        <!-- /.card-simple -->
                    </div>
                    <!-- /.col-* -->

                    <div class="col-sm-6 col-md-3">
                        <div class="card-simple" data-background-image="Content/assets/img/tmp/product-5.jpg">
                            <div class="card-simple-background">
                                <div class="card-simple-content">
                                    <h2><a href="listing-detail.html">Boat Trip</a></h2>
                                    <div class="card-simple-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <!-- /.card-rating -->
                                    <div class="card-simple-actions">
                                        <a href="#" class="fa fa-bookmark-o"></a>
                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                        <a href="#" class="fa fa-heart-o"></a>
                                    </div>
                                    <!-- /.card-simple-actions -->
                                </div>
                                <!-- /.card-simple-content -->
                                <div class="card-simple-label">Vacation</div>
                            </div>
                            <!-- /.card-simple-background -->
                        </div>
                        <!-- /.card-simple -->
                    </div>
                    <!-- /.col-* -->

                    <div class="col-sm-6 col-md-3">
                        <div class="card-simple" data-background-image="Content/assets/img/tmp/product-6.jpg">
                            <div class="card-simple-background">
                                <div class="card-simple-content">
                                    <h2><a href="listing-detail.html">Italian Restaurant</a></h2>
                                    <div class="card-simple-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <!-- /.card-rating -->
                                    <div class="card-simple-actions">
                                        <a href="#" class="fa fa-bookmark-o"></a>
                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                        <a href="#" class="fa fa-heart-o"></a>
                                    </div>
                                    <!-- /.card-simple-actions -->
                                </div>
                                <!-- /.card-simple-content -->
                                <div class="card-simple-label">Restaurant</div>
                                <div class="card-simple-price">$28 / person</div>
                            </div>
                            <!-- /.card-simple-background -->
                        </div>
                        <!-- /.card-simple -->
                    </div>
                    <!-- /.col-* -->

                    <div class="col-sm-6 col-md-3">
                        <div class="card-simple" data-background-image="Content/assets/img/tmp/product-7.jpg">
                            <div class="card-simple-background">
                                <div class="card-simple-content">
                                    <h2><a href="listing-detail.html">Best Brazil Coffee</a></h2>
                                    <div class="card-simple-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <!-- /.card-rating -->
                                    <div class="card-simple-actions">
                                        <a href="#" class="fa fa-bookmark-o"></a>
                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                        <a href="#" class="fa fa-heart-o"></a>
                                    </div>
                                    <!-- /.card-simple-actions -->
                                </div>
                                <!-- /.card-simple-content -->
                                <div class="card-simple-label">Pub</div>
                            </div>
                            <!-- /.card-simple-background -->
                        </div>
                        <!-- /.card-simple -->
                    </div>
                    <!-- /.col-* -->

                    <div class="col-sm-6 col-md-3">
                        <div class="card-simple" data-background-image="Content/assets/img/tmp/product-8.jpg">
                            <div class="card-simple-background">
                                <div class="card-simple-content">
                                    <h2><a href="listing-detail.html">Retro Shop</a></h2>
                                    <div class="card-simple-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <!-- /.card-rating -->
                                    <div class="card-simple-actions">
                                        <a href="#" class="fa fa-bookmark-o"></a>
                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                        <a href="#" class="fa fa-heart-o"></a>
                                    </div>
                                    <!-- /.card-simple-actions -->
                                </div>
                                <!-- /.card-simple-content -->
                                <div class="card-simple-label">Shop</div>
                                <div class="card-simple-price">$3 / cup</div>
                            </div>
                            <!-- /.card-simple-background -->
                        </div>
                        <!-- /.card-simple -->
                    </div>
                    <!-- /.col-* -->

                    <div class="col-sm-6 col-md-3">
                        <div class="card-simple" data-background-image="Content/assets/img/tmp/product-9.jpg">
                            <div class="card-simple-background">
                                <div class="card-simple-content">
                                    <h2><a href="listing-detail.html">Wine Tasting</a></h2>
                                    <div class="card-simple-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <!-- /.card-rating -->
                                    <div class="card-simple-actions">
                                        <a href="#" class="fa fa-bookmark-o"></a>
                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                        <a href="#" class="fa fa-heart-o"></a>
                                    </div>
                                    <!-- /.card-simple-actions -->
                                </div>
                                <!-- /.card-simple-content -->
                                <div class="card-simple-label">Event</div>
                                <div class="card-simple-price">$13 / ticket</div>
                            </div>
                            <!-- /.card-simple-background -->
                        </div>
                        <!-- /.card-simple -->
                    </div>
                    <!-- /.col-* -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.cards-simple-wrapper -->

            <div class="block background-black-light fullwidth mt80">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box">
                            <div class="box-icon">
                                <i class="fa fa-life-ring"></i>
                            </div>
                            <!-- /.box-icon -->
                            <div class="box-content">
                                <h2>E-mail Support</h2>
                                <p>We are always here to answer all your questions. Feel free to contact us.</p>
                                <a href="#">Read More <i class="fa fa-chevron-right"></i></a>
                            </div>
                            <!-- /.box-content -->
                        </div>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="box">
                            <div class="box-icon">
                                <i class="fa fa-flask"></i>
                            </div>
                            <!-- /.box-icon -->
                            <div class="box-content">
                                <h2>Always Improving</h2>
                                <p>Our dedicated team of developers are implementing awesome features.</p>
                                <a href="#">Read More <i class="fa fa-chevron-right"></i></a>
                            </div>
                            <!-- /.box-content -->
                        </div>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="box">
                            <div class="box-icon">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                            <!-- /.box-icon -->
                            <div class="box-content">
                                <h2>Best Quality</h2>
                                <p>We list only verifiend places and events to provide best content.</p>
                                <a href="#">Read More <i class="fa fa-chevron-right"></i></a>
                            </div>
                            <!-- /.box-content -->
                        </div>
                    </div>
                    <!-- /.col-sm-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.block -->
            <div class="block background-white background-transparent-image fullwidth">
                <div class="page-header">
                    <h1>Hand Picked by OptingZ</h1>
                    <p>
                        Check out the best places &amp; events in the city. Each one is worth<br> of visiting. Experience
                        which you never forget.
                    </p>
                </div>
                <!-- /.page-header -->
                <div class="cards-wrapper">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card" data-background-image="Content/assets/img/tmp/product-7.jpg">
                                        <div class="card-label">
                                            <a href="listing-detail.html">Coffe</a>
                                        </div>
                                        <!-- /.card-label -->
                                        <div class="card-content">
                                            <h2><a href="listing-detail.html">Brazilian Coffe Taste</a></h2>
                                            <div class="card-meta">
                                                <i class="fa fa-map-o"></i> 347/26 22th Avenue, NYC USA
                                            </div>
                                            <!-- /.card-meta -->
                                            <div class="card-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <!-- /.card-rating -->
                                            <div class="card-actions">
                                                <a href="#" class="fa fa-bookmark-o"></a>
                                                <a href="listing-detail.html" class="fa fa-search"></a>
                                                <a href="#" class="fa fa-heart-o"></a>
                                            </div>
                                        </div>
                                        <!-- /.card-content -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col-* -->
                            </div>
                            <!-- /.row -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card" data-background-image="Content/assets/img/tmp/product-4.jpg">
                                        <div class="card-label">
                                            <a href="listing-detail.html">Restaurant</a>
                                        </div>
                                        <!-- /.card-label -->
                                        <div class="card-content">
                                            <h2><a href="listing-detail.html">Coffee &amp; Newspaper</a></h2>
                                            <div class="card-meta">
                                                <i class="fa fa-map-o"></i> 347/26 22th Avenue, NYC USA
                                            </div>
                                            <!-- /.card-meta -->
                                            <div class="card-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <!-- /.card-rating -->
                                            <div class="card-actions">
                                                <a href="#" class="fa fa-bookmark-o"></a>
                                                <a href="listing-detail.html" class="fa fa-search"></a>
                                                <a href="#" class="fa fa-heart-o"></a>
                                            </div>
                                        </div>
                                        <!-- /.card-content -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="card" data-background-image="Content/assets/img/tmp/product-2.jpg">
                                        <div class="card-label">
                                            <a href="listing-detail.html">Vacation</a>
                                        </div>
                                        <!-- /.card-label -->
                                        <div class="card-content">
                                            <h2><a href="listing-detail.html">Homemade Coffee</a></h2>
                                            <div class="card-meta">
                                                <i class="fa fa-map-o"></i> 347/26 22th Avenue, NYC USA
                                            </div>
                                            <!-- /.card-meta -->
                                            <div class="card-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <!-- /.card-rating -->
                                            <div class="card-actions">
                                                <a href="#" class="fa fa-bookmark-o marked"></a>
                                                <a href="listing-detail.html" class="fa fa-search"></a>
                                                <a href="#" class="fa fa-heart-o"></a>
                                            </div>
                                        </div>
                                        <!-- /.card-content -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col-* -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.col-* -->
                        <div class="col-sm-4">
                            <div class="card card-tall" data-background-image="Content/assets/img/tmp/product-1.jpg">
                                <div class="card-label">
                                    <a href="listing-detail.html">Vacation</a>
                                </div>
                                <!-- /.card-label -->
                                <div class="card-content">
                                    <h2><a href="listing-detail.html">Trip to Paris, France</a></h2>
                                    <div class="card-meta">
                                        <i class="fa fa-map-o"></i> 347/26 22th Avenue, NYC USA
                                    </div>
                                    <!-- /.card-meta -->
                                    <div class="card-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <!-- /.card-rating -->
                                    <div class="card-actions">
                                        <a href="#" class="fa fa-bookmark-o"></a>
                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                        <a href="#" class="fa fa-heart-o marked"></a>
                                    </div>
                                </div>
                                <!-- /.card-content -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col-* -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.cards-wrapper -->
            </div>
            <div class="block background-white fullwidth mb-80">
                <div class="categories">
                    <ul>
                        <li>
                            <a href="#" class="categories-action">Submit</a>
                            <a href="#" class="categories-link"><i class="fa fa-bed"></i> Stay</a>
                            <ul>
                                <li><a href="#">Homestay</a>,</li>
                                <li><a href="#">Hotel</a>,</li>
                                <li><a href="#">Camping</a>,</li>
                                <li><a href="#">Guesthouse,</a></li>
                                <li><a href="#">Hostel</a></li>
                                <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="categories-action">Submit</a>
                            <a href="#" class="categories-link"><i class="fa fa-car"></i> Automotive</a>
                            <ul>
                                <li><a href="#">Mechanics</a>,</li>
                                <li><a href="#">Gas Stations</a>,</li>
                                <li><a href="#">Parts</a>,</li>
                                <li><a href="#">Repair</a>,</li>
                                <li><a href="#">Tires</a></li>
                                <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="categories-action">Submit</a>
                            <a href="#" class="categories-link"><i class="fa fa-suitcase"></i> Jobs</a>
                            <ul>
                                <li><a href="#">Cook</a>,</li>
                                <li><a href="#">Hairdrasser</a>,</li>
                                <li><a href="#">Management</a>,</li>
                                <li><a href="#">Waiter</a>,</li>
                                <li><a href="#">Worker</a></li>
                                <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="categories-action">Submit</a>
                            <a href="#" class="categories-link"><i class="fa fa-heart"></i> Medicine</a>
                            <ul>
                                <li><a href="#">Dental</a>,</li>
                                <li><a href="#">Dermatology</a>,</li>
                                <li><a href="#">Neurology</a>,</li>
                                <li><a href="#">Pediatrics</a></li>
                                <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="categories-action">Submit</a>
                            <a href="#" class="categories-link"><i class="fa fa-glass"></i> Nightlife</a>
                            <ul>
                                <li><a href="#">Bars &amp; Pubs</a>,</li>
                                <li><a href="#">Concert</a>,</li>
                                <li><a href="#">Cinemas</a>,</li>
                                <li><a href="#">Disco</a>,</li>
                                <li><a href="#">Theater</a></li>
                                <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="categories-action">Submit</a>
                            <a href="#" class="categories-link"><i class="fa fa-home"></i> Real Estate</a>
                            <ul>
                                <li><a href="#">Apartmant</a>,</li>
                                <li><a href="#">Building Area</a>,</li>
                                <li><a href="#">Condo</a>,</li>
                                <li><a href="#">House</a>,</li>
                                <li><a href="#">Villa</a></li>
                                <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="categories-action">Submit</a>
                            <a href="#" class="categories-link"><i class="fa fa-cutlery"></i> Restaurant</a>
                            <ul>
                                <li><a href="#">Bistro</a>,</li>
                                <li><a href="#">Brunch</a>,</li>
                                <li><a href="#">Caffee</a>,</li>
                                <li><a href="#">Dinning</a>,</li>
                                <li><a href="#">Fast Food</a></li>
                                <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="categories-action">Submit</a>
                            <a href="#" class="categories-link"><i class="fa fa-futbol-o"></i> Sports</a>
                            <ul>
                                <li><a href="#">Bistro</a>,</li>
                                <li><a href="#">Brunch</a>,</li>
                                <li><a href="#">Caffee</a>,</li>
                                <li><a href="#">Dinning</a>,</li>
                                <li><a href="#">Fast Food</a></li>
                                <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="categories-action">Submit</a>
                            <a href="#" class="categories-link"><i class="fa fa-map-marker"></i> Travel</a>
                            <ul>
                                <li><a href="#">Cruises</a>,</li>
                                <li><a href="#">Destinations</a>,</li>
                                <li><a href="#">Holidays</a>,</li>
                                <li><a href="#">Transportations</a></li>
                                <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.categories -->
            </div>
            <div class="block background-secondary fullwidth mt80 mb-80 pt60 pb60">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="contact-info-wrapper">
                            <h2>Do You Have Any Questions?</h2>
                            <div class="contact-info">
                                <span class="contact-info-item">
                                    <i class="fa fa-at"></i>
                                    <span>support@optingz.com</span>
                                </span>
                                <!-- /.contact-info-item -->
                                <span class="contact-info-item">
                                    <i class="fa fa-phone"></i>
                                    <span>+1 514-514-5114</span>
                                </span>
                                <!-- /.contact-info-item -->
                            </div>
                            <!-- /.contact-info-->
                        </div>
                        <!-- /.contact-info-wrapper -->
                    </div>
                    <!-- /.col-* -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
</div>
<!-- /.main-inner -->
@*<div class="jumbotron">
        <h1>OptingZ</h1>
        <p class="lead" style="font-size:14px">There're always options available for anything you look for. Why not search for all available alternatives and Optingz for one suits you most!!!, Here is the way to find alternatives by OptingZ!!!</p>
        <div class="input-group">
            <form action="/Home/Index" class="navbar-search" id="searchform" method="post">
                 <input type="text" id="pid" name="pid" value="@ViewBag.id" style="visibility : hidden" readonly>
                 <input type="text" class="form-control" id="pName" name="pName" value="@ViewBag.pName"  placeholder="What you need an alternative for?">
                 <input class="btn btn-success pull-right" id="btnClick" value="OptItBud!!!" type="submit" />
            </form>
        </div>
    </div>

    <div id="Content" class="row">@{Html.RenderAction("SearchResultPartial", "Products");}</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav-collapse .nav li a").click(function (e) {
                $(".nav-collapse .nav .active").removeClass("active")
                $(this).parent().addClass("active")
            });
            $("#pName").val(ViewBag.pName);
        });

        $('#pName').keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13 && $(this).val() != "") {
                $('#searchform').submit();
            }

        });
        $("#pName").autocomplete({
            source: "/Home/AutoCompleteProduct",
            select: function (event, ui) {
                //event.defaultPrevented();
                $("#pName").val(ui.item.label);
                $("#pid").val(ui.item.id);
                $('#searchform').submit();

            },
            focus: function (event, ui) {
                //event.defaultPrevented();
                $("#pName").val(ui.item.label);
            }

        })
    </script>*@