@model IEnumerable<OptingZ.Models.ProductMaster>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OptingZ</h1>
    <p class="lead" style="font-size:14px">There're always options available for anything you look for. Why not search for all available alternatives and Optingz for one suits you most!!!, Here is the way to find alternatives by OptingZ!!!</p>
    <div class="input-group">
        <form action="/Home/Index" class="navbar-search" id="searchform" method="post">
            <input type="text" class="form-control" id="pName" name="pName" value="@ViewBag.pName" placeholder="What you need an alternative for?">
            <span class="input-group-btn col-md-1" style="margin-left:-14px">
                <input class="btn btn-success" id="btnClick" value="OptItBud!!!" type="submit" />
            </span>
        </form>
    </div>
</div>

<div id="Content" class="row">@{Html.RenderAction("SearchResultPartial", "Products");}</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav-collapse .nav li a").click(function (e) {
            $(".nav-collapse .nav .active").removeClass("active")
            $(this).parent().addClass("active")
        });

    });

    $('#pName').keypress(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13 && $(this).val() != "") {
            $('#searchform').submit();
        }

    });
    $("#pName").autocomplete({
        source: "/Home/AutoCompleteProduct",
        select: function (event, ui) {
            event.preventDefault();
            $("#pName").val(ui.item.label);

        },
        focus: function (event, ui) {
            event.preventDefault();
            $("#pName").val(ui.item.label);
        }

    })
</script>