
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    @Styles.Render("~/Content/assets/lib")
    @Styles.Render("~/Content/assets/csstest")
    <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/favicon.png">

    <title>OptingZ</title>
</head>
<body>
    <div class="mt-150">
        <div class="hero-image">
            <div class="hero-image-inner" style="background-image: url('Content/assets/img/tmp/slider-large-3.jpg');">
                <div class="container">
                    <div class="hero-image-content" style="left:25%">
                        <h1>OptingZ</h1>
                        <p>
                            Create your own directory website by using OptingZ template <br> incorporating
                            all features of modern directory website.
                        </p>
                        <a href="listing-row.html" class="btn btn-primary btn-lg">View Listings</a>
                        <a href="listing-submit.html" class="btn btn-secondary btn-lg">Submit</a>
                    </div>
                    <!-- /.hero-image-content -->
                    <div class="hero-image-form-wrapper" style="right:0px; float:right; top:35%">
                        <div class="col-sm-4 col-sm-offset-8 col-lg-4 col-lg-offset-6">
                            <form method="get" action="?">
                                <h2>Start Searching</h2>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for event, hotel, restaurant, job ... ">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-block" type="button">Search</button>
                                    </span>
                                </div><!-- /.input-group -->
                            </form>
                        </div>
                        <!-- /.col-* -->
                    </div>
                    <!-- /.hero-image-form-wrapper -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.hero-image-inner -->
        </div>
        <!-- /.hero-image -->
    </div>
    <script src="~/Content/assets/js/jquery.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/map.js" type="text/javascript"></script>

    <script src="~/Content/assets/libraries/bootstrap-sass/javascripts/bootstrap/collapse.js" type="text/javascript"></script>
    <script src="~/Content/assets/libraries/bootstrap-sass/javascripts/bootstrap/carousel.js" type="text/javascript"></script>
    <script src="~/Content/assets/libraries/bootstrap-sass/javascripts/bootstrap/transition.js" type="text/javascript"></script>
    <script src="~/Content/assets/libraries/bootstrap-sass/javascripts/bootstrap/dropdown.js" type="text/javascript"></script>
    <script src="~/Content/assets/libraries/bootstrap-sass/javascripts/bootstrap/tooltip.js" type="text/javascript"></script>
    <script src="~/Content/assets/libraries/bootstrap-sass/javascripts/bootstrap/tab.js" type="text/javascript"></script>
    <script src="~/Content/assets/libraries/bootstrap-sass/javascripts/bootstrap/alert.js" type="text/javascript"></script>

    <script src="~/Content/assets/libraries/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>

    <script src="~/Content/assets/libraries/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/libraries/flot/jquery.flot.spline.js" type="text/javascript"></script>

    <script src="~/Content/assets/libraries/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>

    @*<script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing" type="text/javascript"></script>*@

    @*<script type="text/javascript" src="~/Content/assets/libraries/jquery-google-map/infobox.js"></script>
        <script type="text/javascript" src="~/Content/assets/libraries/jquery-google-map/markerclusterer.js"></script>
        <script type="text/javascript" src="~/Content/assets/libraries/jquery-google-map/jquery-google-map.js"></script>*@

    <script type="text/javascript" src="~/Content/assets/libraries/owl.carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/Content/assets/libraries/bootstrap-fileinput/fileinput.min.js"></script>

    <script src="~/Content/assets/js/superlist.js" type="text/javascript"></script>

</body>
</html>
